#layout_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #000;
    /* align-items: center; */
}

#layout_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
}
nav > a{
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    padding: 10px;
    transition: 0.2s ease-in-out;
}
nav > a:hover{
    box-shadow: 1px 1px 0px 0px gray,
                -1px -1px 0px 0px gray;
    color: #000;
}